.article {
  width: 80vw;
  margin: 10px auto 0;
  min-height: 300px;
  border-radius: 5px;
  padding: 0;
}

.categoryTitle {
  background-color: rgb(231, 231, 231);
  padding: 20px;
  border-radius: 5px;
}

.content {
  display: flex;
}

.itemList {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: rgb(231, 231, 231);
  border-radius: 5px;
  width: calc(100% - 25% - 20px);
}